*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    width: 100%;
    height: 100%;
    background: #e52d27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b31217, #e52d27);
}

.my-header{
    width: 100%;
    height: auto;
    position:absolute;
}
.logo{
    width:170px;
    height: auto;
    float:left;
    margin: 10px 0 5px 25px;
}
.header-btn{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 10px;
    text-transform: uppercase;
    float: right;
    margin: 15px 0 7px 7px;
    font-size: 25px;
    color:white;
    text-decoration: none;
}
.header-btn:hover{
    text-decoration:none;
    color: white;
}
.body-container{
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
    margin-top:25px;
    width:90%;
    height: 540px;
    padding: 10px;
}
.left-div{
    float: left;
    width:70%;
    height: auto;
}
.carousel,.carousel-inner,.carousel-item{
    height: 540px;
}
.car-img{
    width: auto;
    height: 540px;
}
.right-div{
    float: right;
    width:29%;
    height: 100%;
    margin-left:10px ;
}
.form-contain{
    position: absolute;
    width: 29%;
    right: 2%;
    top: 12%;
border-radius: 10px;
font-family: 'Xanh Mono', monospace;
}
.form-image{
    position: absolute;
    width:29%;
    height: 100%;
    z-index: -1;
    -webkit-box-shadow: -3px 0px 14px 0px rgba(50, 50, 50, 0.76);
-moz-box-shadow:    -3px 0px 14px 0px rgba(50, 50, 50, 0.76);
box-shadow:         -3px 0px 14px 0px rgba(50, 50, 50, 0.76);
background-color: rgba(50, 50, 50, 0.3);
}
.my-form-heading{
  font-size: 25px;
  color: white;
    text-align: center;
}
::placeholder{
  font-size: 15px;
    color:white;
    opacity: .8;
    font-weight: lighter;
}
.form-content-div {
    background-color:transparent;
    padding:35px 25px 0 25px;
}
  .input-field {
    width: 100%;
    align-items: center;
    font-family: 'Xanh Mono', monospace;
    letter-spacing: 5px;
    padding: 10px;
    font-weight:bold;
    margin: 5px 0 15px 0;
    display: inline-block;
    border-radius:10px;
    background: transparent;
    border: 1px solid rgba( 255, 255, 255,0.45);
  }
 .input-field:focus {
    background-color:transparent;
    outline: none;
    color: white;
  }
  .registerbtn {
    background-color: transparent;
    color: white;
    padding: 10px 25px;
    margin: 8px 0;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    cursor: pointer;
    width:100%;
    border-radius:10px;
    opacity: 0.9;
    margin-bottom: 15px;
    font-weight: bold;
    letter-spacing: 5px;
  }
  
  .registerbtn:hover {
    background: rgba( 255, 255, 255, 0.30 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 2.5px );
-webkit-backdrop-filter: blur( 2.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  .form-para{
      font-size: 12px;
    color:white;
    opacity: .9;
    font-weight: normal;
    letter-spacing: 2px;
    margin-bottom: 0;
  }
  /* Form area ended */

.firstBanner{
    position: absolute;
    bottom: -700px;
    width: 100%;
    height: auto;
}
.firstWrapper {
    box-sizing: border-box;
    border: 1px solid #7c100d;
    background-color: #400301;
    padding: 31.5px 45px 0;
    margin-bottom: 62.5px;
    color:white;
}
.firstWrapper .firstWrapperTop {
    text-align: center;
}
.firstWrapper .firstWrapperBottom {
    display: flex;
    justify-content: space-between;
    padding-bottom: 95px;
    padding-top: 41px;
    position: relative;
    position: relative;
}
.firstWrapper .firstWrapperBottom ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.firstWrapper .firstWrapperBottom a.register {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #161743;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    height: 46px;
    width: 260px;
    border-radius: 4px;
    background: linear-gradient(180deg, #fad961 0%, #f79c1c 98.45%);
    border: 0;
    text-transform: uppercase;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -23px;
}
.firstWrapper .firstWrapperBottom ul li {
    width: 21%;
    text-align: center;
}
.banner-carousel{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    margin: 0;
    padding: 0;
}

a, button {
    transition: 0.5s;
    text-decoration: none;
    outline: 0;
    cursor: pointer;
}
  
  .text-content-div{
      margin-top: 25px;
      width: 100%;
      height: auto;
      color: white;
      position: absolute;
      bottom: -1500px;
  }

.play-btn{
    position: absolute;
    top: -75px;
    left: 50%;
    transform: translate(-50%);
    text-align:center;
    width: auto;
    font-family: 'Press Start 2p';
}
.start-btn{
    text-align: center;
	display: inline-block;
	margin:5px;
    font-weight: bold;
    padding: 10px 0 10px 10px ;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    -webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
    box-shadow: 0 .2em gray; 
    cursor: pointer;

}
.start-btn:active {
	box-shadow: none;
	position: relative;
	top: .1em;
}

  .homeContent ol{
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }

  /*  login modal css*/

  .modal-login {
	width: 320px;
}
.modal-login .modal-content {
	border-radius: 1px;
	border: none;
}
.modal-login .modal-header {
	position: relative;
	justify-content: center;
	background: #f2f2f2;
}
.modal-login .modal-body {
	padding: 30px;
}
.modal-login .modal-footer {
	background: #f2f2f2;
}
.modal-login h4 {
	text-align: center;
	font-size: 26px;
}
.modal-login label {
	font-weight: normal;
	font-size: 13px;
}
.modal-login .form-control, .modal-login .btn {
	min-height: 38px;
	border-radius: 2px; 
}
.modal-login .hint-text {
	text-align: center;
}
.modal-login .close {
	position: absolute;
	top: 15px;
	right: 15px;
}
.modal-login .checkbox-inline {
	margin-top: 12px;
}
.modal-login input[type="checkbox"] {
	position: relative;
	top: 1px;
}
.modal-login .btn {
	min-width: 100px;
	background: #3498db;
	border: none;
	line-height: normal;
}
.modal-login .btn:hover, .modal-login .btn:focus {
	background: #248bd0;
}
.modal-login .hint-text a {
	color: #999;
}


/* footer */
.my-footer{
    position: absolute;
    width: 100%;
    height: auto;
    background-color:#400301;
    bottom:-1900px;
}
